# Virtual environment
venv/
.venv/
__pycache__/
*.pyc

# Data and Local Storage
*.csv
*.parquet
feature_store/data/
.feast/

# MLflow and local tracking
mlruns/
.mlflow/

# IDE files and OS junk
.vscode/
.idea/
.DS_Store